@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.main{
  margin-top: 285px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fffbf7;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #025157;
  text-align: center;
}

p {
  color: #000000cc;
  font-size: 20px;
}

button {
    color: #fff;
    background-color: #6abf4a
}

.header {
  margin:  40px 20px 0;
  /* margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px; */
}

.fixed-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}




li {
  display: inline;
  margin: 0 25px ;
  color: #025157;
}

.header > *{
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height:100%;
  vertical-align: middle;
} 

.navbar ul{
  display: inline;
}

.logo{
  width: 15%;
  text-align: center;
}

.logo > img {
  width: 21%;
}

.navbar{
  width: 70%;
  text-align: left;
  color: #025157;
  font-weight: bold;
  height: 45px;
  font-family: sans-serif;
}

li {
  display: inline;
  margin: 0 25px ;
  color: #025157;
}

.actions{
  width: 14%;
  text-align: left;
  font-size:14px;
  font-weight: bold;
}

.actions > * {
  margin: 0 10px
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px;
  border-style: none;
  border-radius: 5px;
}

.promo{
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;

}

.publish{
  margin-left: 30px;
}

.video-and-arrow{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-and-arrow img{
  height:5rem;
  width: 5rem;

}

.feature{
  display: grid;
  padding: 1rem 10rem;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  background-color: #145157
}

.feature article section{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: white
}

.feature-image {
  text-align: center;
}

.feature-image img{
  width: 40%;
  margin-top: 1rem;
}

.feature-ref{
  color: #67b54b;
  font-weight: bold;
}



