@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.main{
  margin-top: 140px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #c0b0ff;
}

h1 {
  color: #025157;
  text-align: center;
}

p {
  color: #000000cc;
  font-size: 20px;
}

button {
    color: #fff;
    background-color: #F567DD
}

.header {
  margin:  40px 20px 0;
  /* margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px; */
}
li {
  display: inline;
  margin: 0 25px ;
  color: #025157;
}

.header > *{
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height:100%;
  vertical-align: middle;
} 

.navbar ul{
  display: inline;
}

.logo{
  width: 15%;
  text-align: center;
}

.logo > img {
  width: 21%;
}

.navbar{
  width: 70%;
  text-align: left;
  color: #025157;
  font-weight: bold;
  height: 45px;
  font-family: sans-serif;
}

li {
  display: inline;
  margin: 0 25px ;
  color: #025157;
}

.actions{
  width: 14%;
  text-align: left;
  font-size:14px;
  font-weight: bold;
}

.actions > * {
  margin: 0 10px
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px;
  border-style: none;
  border-radius: 5px;
}


